@model FPECS.DSP.SPW.Business.Services.ResearcherGetInformationModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <!--
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
                @ViewData["UserDisplayName"] (@ViewData["UserJobTitle"])
            </h5>
        </div>
        <div class="card-body">
            <h6>@ViewData["UserMail"]</h6>
        </div>
        <div class="card-footer">
            <table>
                <tr>
                    <td></td>
                    <td>@ViewData["UserId"]</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@ViewData["UserGivenName"]</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@ViewData["UserSurname"]</td>
                </tr>
            </table>
        </div>
    </div>
    -->
    <div class="card">
        <div class="card-header">
            <h3>@($"{Model.LastName} {Model.FirstName} ({Model.Email})")</h3>
        </div>
        <div class="card-body">
            @(Model.AcademicDegree)
        </div>
    </div>
</div>